/* SCSS Gradient */
@font-face {
  font-family: "Migra-Regular";
  src: url("fonts/Portfolio-fonts/Migra-Reg/Migra-Extrabold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Migra-Regular", sans-serif;
}
body .navbar {
  background-color: rgb(52, 52, 52);
  background: transparent;
  backdrop-filter: blur(10px);
  color: rgb(242, 243, 244);
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
body .navbar .h5 {
  font-size: 30px;
  text-decoration: none;
  text-decoration-color: rgb(242, 243, 244);
}
body .navbar h4 {
  font-size: 20px;
  text-decoration: none;
  text-decoration-color: rgb(233, 116, 81);
}
body .navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 50%;
}
body .navbar ul .list-item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin: 15px;
  width: 50%;
}
body .navbar ul .list-a-head {
  color: rgb(242, 243, 244);
  text-decoration: none;
  text-decoration-color: rgb(242, 243, 244);
  font-size: 50px;
  padding-right: 45px;
}

header {
  background-image: url("images/background-body9.jpg");
  background-position: center;
  height: 100vh;
}

.portfolio-section {
  height: 100vh;
}
.portfolio-section.about, .portfolio-section.projekt {
  background-color: rgb(52, 52, 52);
}
.portfolio-section.contact {
  background-image: url(./images/backgroundmain.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.slogan {
  font-size: 70px;
  background: transparent;
  backdrop-filter: blur(10px);
  position: absolute;
  top: 40%;
  left: 200px;
}

.gradient-text {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(90deg, #343434, rgb(206, 206, 206), rgb(255, 36, 0));
  -webkit-background-clip: text;
}

.linear-text {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(90deg, #343434, rgb(233, 116, 81));
  -webkit-background-clip: text;
}

.portfolio-section.about .about-line {
  width: 100px;
  height: 10px;
  font-size: 60px;
  color: rgb(233, 116, 81);
  position: absolute;
  padding-top: 50px;
  left: 450px;
}
.portfolio-section.about .about-text {
  font-size: 35px;
  height: 120px;
  color: rgb(242, 243, 244);
  position: absolute;
  padding-left: 60%;
  margin-top: 240px;
}
.portfolio-section.about .about-image {
  position: absolute;
  padding-top: 190px;
  left: 30px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.portfolio-section.projekt {
  font-size: 80px;
  color: rgb(152, 129, 123);
  position: relative;
}
.portfolio-section.projekt .projekt-line {
  width: 100px;
  height: 10px;
  font-size: 60px;
  color: rgb(233, 116, 81);
  position: absolute;
  padding-top: 50px;
  left: 450px;
}
.portfolio-section.projekt .projekt-wrapper {
  font-size: 35px;
  height: 300px;
  color: rgb(242, 243, 244);
  display: flex;
  justify-content: space-between;
}
.portfolio-section.projekt .projekt-wrapper .projekt-item1 {
  position: absolute;
  padding-top: 10px;
  left: 300px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.portfolio-section.projekt .projekt-wrapper .projekt-item3 {
  margin-bottom: 12px;
}
.portfolio-section.contact {
  font-size: 40px;
  color: rgb(152, 129, 123);
}
.portfolio-section.contact .contect-wrapper {
  display: flex;
  font-size: 290px;
  justify-content: space-between;
  align-items: center;
}

.projekt-a {
  font-size: 55px;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(90deg, #343434, rgb(206, 206, 206), rgb(255, 36, 0));
  -webkit-background-clip: text;
  position: relative;
  left: 30px;
}

.focus-in-contract {
  -webkit-animation: focus-in-contract 0.7s linear forwards;
  animation: focus-in-contract 8s linear forwards;
  animation-iteration-count: infinite;
}

@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.button {
  position: relative;
  display: inline-block;
  margin-top: 300px;
}

.projekt-btn {
  position: absolute;
  top: 200px;
}

.projekt-btn1,
.projekt-btn2 {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: 0.25em solid var(--glow-color);
  padding: 1.5em 3em;
  color: var(--glow-color);
  font-family: "Migra-Regular", sans-serif;
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color), 0 0 4em 1em var(--glow-spread-color), inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}

.projekt-btn1::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 200px;
  left: 120%;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

.projekt-btn1:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em rgb(233, 116, 81), 0 0 4em 2em rgb(233, 116, 81), inset 0 0 0.75em 0.25em rgb(233, 116, 81);
}

.projekt-btn1:active {
  box-shadow: 0 0 0.6em 0.25em rgb(233, 116, 81), 0 0 2.5em 2em rgb(233, 116, 81), inset 0 0 0.5em 0.25em rgb(233, 116, 81);
}

.projekt-btn2::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 120%;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

.projekt-btn2:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em rgb(233, 116, 81), 0 0 4em 2em rgb(233, 116, 81), inset 0 0 0.75em 0.25em rgb(233, 116, 81);
}

.projekt-btn2:active {
  box-shadow: 0 0 0.6em 0.25em rgb(233, 116, 81), 0 0 2.5em 2em rgb(233, 116, 81), inset 0 0 0.5em 0.25em rgb(233, 116, 81);
}

.contact-line {
  color: rgb(242, 243, 244);
  position: absolute;
  right: 80px;
}

.contact-text {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(90deg, #343434, rgb(206, 206, 206), rgb(255, 36, 0));
  -webkit-background-clip: text;
  position: absolute;
  padding-top: 180px;
  font-size: 100px;
}

.contact-list {
  color: rgb(242, 243, 244);
  position: absolute;
  right: 80px;
}
.contact-list .list-border {
  border: 3px solid rgb(233, 116, 81);
  padding: 10px;
  margin: 10px;
  width: 70%;
  border-radius: 60%;
  margin-top: 80px;
}

footer {
  background-color: rgb(152, 129, 123);
  height: 160px;
}
footer .footer-text {
  font-size: 50px;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(90deg, #343434, rgb(206, 206, 206), rgb(255, 36, 0));
  -webkit-background-clip: text;
  position: absolute;
  padding-top: 15px;
}

.footer-btn {
  margin: 12px;
  height: 50px;
  width: 120px;
  border-radius: 10px;
  background: #333;
  justify-content: center;
  align-items: center;
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
  font-family: "Migra-Regular", sans-serif;
  cursor: pointer;
  border: none;
  font-size: 16px;
  color: rgb(161, 161, 161);
  transition: 500ms;
}

.footer-btn:hover {
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222, inset -5px -5px 10px #444;
  color: #d6d6d6;
  transition: 500ms;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
  margin: 10px;
  width: 70%;
  border-radius: 60%;
  padding-top: 100px;
  padding-left: 250px;
}

.foo-a {
  font-size: 60px;
  padding-right: 32px;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(90deg, #343434, rgb(206, 206, 206), rgb(255, 36, 0));
  -webkit-background-clip: text;
  position: relative;
  left: 30px;
}

/*# sourceMappingURL=main.css.map */
